.caja{
    width: 400px;
    height: 250px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 100px;
    transition: all 0.5s ease;
    cursor: pointer;

}
.caja:hover{
    /* transform: scale(1.2); */
    background-color: blue;
    color: beige;
}
img{
    filter: blur(3px);

    transition: all 1.5s ease;
    opacity: 0.5;


}
img:hover{
    filter: blur(0px) ;
    opacity: 1;



}