body{font-family: 'Open Sans', sans-serif;

}
header{
    background-color: #2e64e1;
}
header h1{
    color: white;
    font-style: italic;
    font-weight: 300;
    display: inline-block;
    position: relative;
    bottom: 35px;
}
nav{
    background-color: #6da9ed;
}
nav ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}
nav ul li{
    flex-grow: 1;
}